<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tables / Data - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../public/assets/img/favicon.png" rel="icon">
  <link href="../../public/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../public/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../../public/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../../public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../public/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <!-- Add this script to handle dynamic visibility of input fields -->
  <script>
    // document.addEventListener('DOMContentLoaded', function () {
    //   // Get the select element
    //   var filterSelect = document.getElementById('filtername');

    //   // Get the input elements and labels
    //   var classInput = document.getElementById('class');
    //   var classLabel = document.querySelector('[for="class"]');
    //   var SIDInput = document.getElementById('SID');
    //   var SIDLabel = document.querySelector('[for="SID"]');

    //   var teacherInput = document.getElementById('teacherId');
    //   var teacherLabel = document.querySelector('[for="teacherId"]');

      // Function to update input visibility based on the selected option
    //   function updateInputVisibility() {
        // var selectedOption = filterSelect.value;

        // Reset input visibility
    //     classInput.style.display = 'block';
    //     classLabel.style.display = 'block';
    //     SIDInput.style.display = 'block';
    //     SIDLabel.style.display = 'block';

    //     teacherInput.style.display = 'block';
    //     teacherLabel.style.display = 'block';

    //     // Update input visibility based on the selected option
    //     if (selectedOption === 'select') {
    //       classInput.style.display = 'none';
    //       classLabel.style.display = 'none';
    //       SIDInput.style.display = 'none';
    //       SIDLabel.style.display = 'none';

    //       teacherInput.style.display = 'none';
    //       teacherLabel.style.display = 'none';

    //     } else if (selectedOption === 'Class') {
    //       SIDInput.style.display = 'none';
    //       SIDLabel.style.display = 'none';
    //       teacherInput.style.display = 'none';
    //       teacherLabel.style.display = 'none';
    //     } else if (selectedOption === 'Student') {
    //       classInput.style.display = 'none';
    //       classLabel.style.display = 'none';
    //       teacherInput.style.display = 'none';
    //       teacherLabel.style.display = 'none';
    //     }else if (selectedOption === 'Everyone') {
    //       classInput.style.display = 'none';
    //       classLabel.style.display = 'none';
    //       teacherInput.style.display = 'none';
    //       teacherLabel.style.display = 'none';
    //       SIDInput.style.display = 'none';
    //       SIDLabel.style.display = 'none';
    //     } else if (selectedOption === 'allTeachers') {
    //       classInput.style.display = 'none';
    //       classLabel.style.display = 'none';
    //       SIDInput.style.display = 'none';
    //       SIDLabel.style.display = 'none';
    //       teacherInput.style.display = 'none';
    //       teacherLabel.style.display = 'none';
    //     } else if (selectedOption === 'particularTeacher') {
    //       classInput.style.display = 'none';
    //       classLabel.style.display = 'none';
    //       SIDInput.style.display = 'none';
    //       SIDLabel.style.display = 'none';
    //     }
        
    //   }

      // Attach the function to the change event of the select element
    //   filterSelect.addEventListener('change', updateInputVisibility);

      // Initial update based on the default selected option
    //   updateInputVisibility();
    // });
  </script>
</head>

<body>

  <!-- ======= Header ======= -->
  <%- include("../../utils/header")%>
  <!-- ======= End Header ======= -->

  <!-- ======= Sidebar ======= -->
  <%- include("../../utils/sidebar")%>
  <!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Fee Head Adder</h1>
      <nav>
        <ol class="breadcrumb">
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> </h5>

          <!-- Floating Labels Form -->
          <form action="/api/add_fee_heads_save" method="post" class="row g-3">

            <!-- <div class="col-md-6">
              <select id="filtername" class="form-select" id="validationDefault04" name="type">
                <option name="selected" value="select">select</option>
                <option value="Everyone">Everyone</option>
                <option value="allTeachers">All Teachers</option>
                <option value="particularTeacher">Particular Teacher</option>
                <option value="Class">Class</option>
                <option value="Student">Student</option>
              </select>
            </div> -->

            <div class="row-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="fee_head_name" placeholder="Fee Head Name" name="fee_head_name">
                <label for="fee_head_name">Fee Head Name</label>
              </div>
            </div>
            <div class="row-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="amount" placeholder="Fee Head Amount" name="amount">
                <label for="amount">Fee Head Amount</label>
              </div>
            </div>

            


            

          
            

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Add Fee Head</button>
            </div>
          </form><!-- End floating Labels Form -->
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <%- include("../../utils/footer")%>
  <!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="../../public/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/assets/vendor/chart.js/chart.min.js"></script>
  <script src="../../public/assets/vendor/echarts/echarts.min.js"></script>
  <script src="../../public/assets/vendor/quill/quill.min.js"></script>
  <script src="../../public/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../../public/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="../../public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../public/assets/js/main.js"></script>

</body>

</html>
