<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tables / Data - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../public/assets/img/favicon.png" rel="icon">
  <link href="../../public/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../public/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../../public/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../../public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../public/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  
  <%- include("../../utils/header")%>
 
  <!-- ======= End Header ======= -->
  
  <!-- ======= Sidebar ======= -->
  
  <%- include("../../utils/sidebar")%>

  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Student Register</h1>
      <nav>
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li> -->
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> </h5>

          <!-- Floating Labels Form -->
          <form action="/api/student_registered" method="post" class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Students's Name" name="name">
                <label for="name">Students's Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
                <label for="email">Student's Email</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="gender" placeholder="Gender" name="gender">
                  <label for="gender">Gender</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="date" class="form-control" id="DOB" placeholder="DOB" name="DOB">
                  <label for="DOB">Date Of Birth</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="fatherName" placeholder="fatherName" name="fatherName">
                  <label for="fatherName">Father's name</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="motherName" placeholder="motherName" name="motherName">
                  <label for="motherName">Mother's Name</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea name="address" class="form-control" placeholder="Address" id="address" style="height: 100px;"></textarea>
                <label for="address">Address</label>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="phone" placeholder="Mobile Number" name="phone">
                  <label for="phone">Phone</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="city" placeholder="City" name="city">
                  <label for="city">City</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="state" placeholder="State" name="state">
                <label for="state">State</label>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="pincode" placeholder="Pincode" name="pincode">
                <label for="pincode">Pincode</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="class" placeholder="Class" name="class">
                <label for="class">Class</label>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="branch" placeholder="Branch" name="branch">
                <label for="branch">Branch</label>
              </div>
            </div>
           
         
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="totalAmount" placeholder="Total Amount" name="totalAmount">
                  <label for="totalAmount">Total Amount</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="paidAmount" placeholder="Paid Amount" name="paidAmount">
                  <label for="paidAmount">Paid Amount</label>
                </div>
              </div>
            </div>
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- End floating Labels Form -->

        </div>
      </div>

    </div>
  </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <%- include("../../utils/footer")%>
  <!-- End Footer -->


  <!-- Vendor JS Files -->
  <script src="../../public/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/assets/vendor/chart.js/chart.min.js"></script>
  <script src="../../public/assets/vendor/echarts/echarts.min.js"></script>
  <script src="../../public/assets/vendor/quill/quill.min.js"></script>
  <script src="../../public/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../../public/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="../../public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../public/assets/js/main.js"></script>

</body>

</html>