<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<footer id="footer" class="footer">
        <div class="copyright d-flex justify-content-center align-items-center">
          <div>
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
          </div>
        </div>
        <div class="credits">
        </div>
      </footer>
    <title>Document</title>
</head>
<body>
    
</body>
</html>